@use "sass:list";
@use "sass:map";

@mixin flex-center() {
	display: flex;
	justify-content: center;
	align-items: center
}

$i: (1, 2, 3, 4);

// @each $i in $i {
// 	.f-#{$i} {
// 		@debug $i;
// 	}
// }

// @debug $i;
// @each $i in $i {
// 	@for $n from 1 through length($i) {
// 		@debug nth($i, $n);
// 	}
// }

$f-s: 20px;
$f-f: "Open Sans", sans-serif;

* {
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	margin-top: 0;
	overflow-X: hidden; 
}

p {
	font-family: $f-f;
	font-size: $f-s + 7;
}

a {
	text-decoration: none;
	color: #000;
}

@media (min-width: 320px) {
	//main_page
	.title {
		font-size: $f-s + 26;
		font-family: $f-f;
		font-weight: bold;
	}

	.subtitle {
		font-size: $f-s;
		font-family: $f-f;
		font-weight: bold;
	}

	.main_body {
		@include flex-center;

		.main_content {
			@include flex-center;
			flex-direction: column;
			// justify-content: start;
			height: 100%;
			margin-top: -10vw;

			.flex_list {
				@include flex-center;
				margin-top: 2.5vw;
			}

			.fractal_list {
				@include flex-center;
				flex-direction: column;
				// align-items: flex-start;
				justify-content: space-evenly;
				height: 50%;
				gap: 1vw;
				padding-left: 10px;
				padding-right: 10px;

				li {
					@include flex-center;
					gap: 1vw;
					font-size: $f-s;

					.julia {
						width: 30px;
					}

					p {
						transition: .5s ease-out;
						padding: 5px;

						a {
							font-family: $f-f;
							font-size: $f-s;
						}
					}

					p:hover {
						background: rgb(237, 237, 237);
						border-bottom-right-radius: 60px 40px;
						border-bottom-left-radius: 50px 20px;
						border-top-right-radius: 50px 20px;
						border-top-left-radius: 60px 40px;
						background-position: 0, 15px;
					}
				}
			}
		}
	}
	//1page
	.body_ft {
		display: flex;
		flex-direction: column;
		// display: grid;
		// grid-template-rows: var(--left, 75px) auto;
		transition: .7s ease-in-out;

		.head {
			transition: .7s ease-in-out;
			position: fixed;
			z-index: 2;
			@include flex-center;
			flex-direction: column;
			align-items: start;
			width: 100%;
			height: 40px;
			background: rgb(218, 218, 218);

			.main_icon {
				position: fixed;
				top: 1vw;
				z-index: 4;

				img {
					margin-left: 10px;
					width: 30px;
					height: 30px;
					object-fit: cover;
					animation: postRotateLittelIcon .8s cubic-bezier(.45, .13, .49, 1) 1 forwards;
				}
			}

			.head_list {
				position: fixed;
				z-index: 3;
				top: 2.5vw;
				list-style-type: none;
				@include flex-center;
				flex-direction: column;
				gap: 1.25vw;
				font-size: $f-s;
				font-family: $f-f;

				@each $i in $i {
					.l-#{$i} {
						@include flex-center;
						transition: .4s * $i cubic-bezier(.45, .13, .49, 1);
						opacity: 0;
						transform: translate(-300px, 0);
						width: 235px;
					}
				}
			}
		}
	}

	.head.active {
		height: 150px;

		.main_icon {
			img {
				animation: rotateLittleIcon .8s cubic-bezier(.45, .13, .49, 1) 1 forwards;
			}
		}

		.head_list {

			@each $i in $i {
				.l-#{$i} {
					transition: .4s * $i cubic-bezier(.45, .13, .49, 1);
					opacity: 1;
					transform: translate(50px, 0);
				}

				.l-#{$i}:hover {
					transition: .6s ease-in-out;
					background: rgb(255, 240, 240);
					border-bottom-right-radius: 60px 40px;
					border-bottom-left-radius: 50px 20px;
					border-top-right-radius: 50px 20px;
					border-top-left-radius: 60px 40px;
				}
			}
		}
	}

	.main_info_container {
		position: relative;
		z-index: 1;
		width: 95%;
		margin-top: 50px;
		margin-left: 2.5vw;
		padding-bottom: 1vw;

		p {
			text-indent: 10px;
			position: relative;
			z-index: 2;
			font-size: $f-s - 2;
		}
	}

	.educational_program_of_fractal {
		margin-top: .5vw;

		.title {
			position: relative;
			z-index: 2;
			font-size: $f-s + 4;
			border-radius: 10px;
		}

		.draw_under_title {
			position: absolute;
			// top: .45vw;
			// left: 4vw;
			z-index: 1;
			width: 345px;
			height: 40px;
			background: rgb(199, 199, 199);
			border-bottom-left-radius: 60px 40px;
			border-bottom-right-radius: 50px 20px;
			border-top-left-radius: 50px 20px;
			border-top-right-radius: 60px 40px;
			transform: rotate(-1.75deg) translate(-15px, -40px);
		}

		p {
			margin-top: .15vw;
		}
	}

	.list_fractals {
		margin-top: .2vw;

		p {
			text-indent: 0px;
		}

		.types_of_fractals {
			padding-left: 45px;

			li {
				margin-top: .4vw;
			}

			::marker {
				font-size: $f-s + 2;
			}

			p {
				text-indent: 10px;
			}
		}
	}

	.first_type {
		margin-top: .8vw;
	}

	.subtitle_with_under_paint {
		display: flex;
		// flex-derection: column;

		.subtitle {
			position: relative;
			z-index: 2;
		}

		.draw_under_subtitle {
			position: absolute;
			z-index: 1;
			width: 200px;
			height: 30px;
			background: rgb(199, 199, 199);
			border-bottom-left-radius: 60px 40px;
			border-bottom-right-radius: 50px 20px;
			border-top-left-radius: 50px 20px;
			border-top-right-radius: 60px 40px;
			transform: rotate(-1.75deg) translate(-10px, -2.5px);
		}
	}

	.geometry {
		margin-top: .5vw;
		display: flex;
		flex-direction: column-reverse;
		// justify-content: space-between;

		img {
			max-width: 400px;
			max-height: 310px;
			object-fit: fill;
			border-radius: 10px;
		}

		.text_gfractal {
			max-width: 1350px;

			p {
				margin-top: .15vw;
			}
		}
	}

	.second_type {
		margin-top: .75vw;

		.subtitle_with_under_paint {
			flex-direction: row;
			margin-right: 1.5vw;

			.draw_under_subtitle {
				width: 200px;
				transform: rotate(-1.75deg) translate(-7px, -2.5px);
			}
		}

		.algebra {
			margin-top: .7vw;

			.list_and_exemple {
				display: flex;
				flex-direction: column;
				// justify-content: space-between;

				.list_alg {
					margin-top: .3vw;
					padding-left: 45px;
					list-style-type: decimal;

					::marker {
						font-size: $f-s;
						font-family: $f-f;
					}

					li {
						margin-top: .3vw;
					}
				}

				.plenty {
					display: flex;
					// width: 100%;
					margin-top: 1.5vw;
				}

				.mandelbrod, .julia {
					@include flex-center;
					flex-direction: column;

					h2 {
						font-family: $f-f;
						font-size: $f-s - 4;
					}
						
					img {
						margin: 5px;
						margin-top: 0;
						margin-bottom: 0;
						max-width: 45vw;
						height: 100px;
						object-fit: fill;
						border-radius: 10px;
					}
				}
			}
		}
	}

	.therd_type {
		margin-top: 2.5vw;

		.draw_under_subtitle {
			width: 185px;
			transform: rotate(-1.75deg) translate(-10px, -2.5px);
		}

		.stoh {
			display: flex;
			flex-direction: column;
			margin-top: .5vw;

			p {
				margin-top: .15vw;
			}

			.plazma_exemple {
				margin-top: .4vw;
				display: flex;
				flex-direction: column-reverse;
				gap: 1vw;

				img {
					margin-top: 1vw;
					margin-bottom: 1vw;
					max-height: 210px;
					object-fit: fill;
					border-radius: 10px;
				}

				p {
					margin: 0;
					max-width: 1400px;
					// max-height: 210px;
				}
			}
		}
	}

	//2 Page

	.koch_main {
		display: block;
		margin-top: .5vw;
		margin-left: 1vw;
		width: 98%;
	}

	.koch_up {
		display: flex;
		gap: 1vw;

		.drawing_koch {
			// margin-top: .5vw;
			
			.canvas_koch {
				// box-shadow: 0 0 8px 0 rgb(0, 163, 5);
			}

			.buttons {
				// margin-left: 2vw;
				display: flex;
				justify-content: center;
				gap: .5vw;

				select {
					font-family: $f-f;
					font-size: $f-s;
					border-radius: 7.5px;
				}

				.rev_btn {
					display: flex;
					gap: .5vw;
				}
			}

			.button_for_reverse {
				border-radius: 20px;
				box-shadow: 0 0 4px 2px rgb(100, 100, 100);

				.btn_koch {
					width: 100%;
					height: 100%;
					@include flex-center;
					border-radius: 20px;
					border: none;

					img {
						width: 25px;
						object-fit: fill;
						padding: 4px;
						margin-right: 1.5vw;
						margin-left: 0;
						transition: .5s ease-out;
					}
				}

				.btn_koch.reverse {
					img {
						margin-right: 0;
						margin-left: 1.5vw;
					}
				}
			}
		}

		.koch_pref {
			display: flex;
			flex-direction: column;
			// justify-content: center;
			font-family: $f-f;
			font-size: $f-s;
			gap: .5vw;

			p {
				text-indent: 10px;
			}
		}
	}


	.info_koch {
		margin-top: 0.5vw;
		font-family: $f-f;
		font-size: $f-s;

		.list_koch {
			margin-top: .3vw;
			padding-left: 30px;
		}
	}
}

@media (min-width: 385px) {
	.title {
		font-size: $f-s + 30;
	}

	.subtitle {
		font-size: $f-s + 4;
		font-family: $f-f;
		font-weight: bold;
	}

	.main_body {

		.main_content {	

			.fractal_list {

				li {
					gap: 2.5vw;

					p {
						a {
							font-size: $f-s + 2;
						}
					}
				}
			}
		}
	}

	.subtitle_with_under_paint {

		.draw_under_subtitle {
			width: 230px;
			height: 32.5px;
			transform: rotate(-1.75deg) translate(-10px, 0px);
		}
	}

	.second_type {

		.subtitle_with_under_paint {

			.draw_under_subtitle {
				width: 240px;
				height: 32.5px;
				transform: rotate(-1.75deg) translate(-10px, 0px);
			}
		}
	}

	.therd_type {

		.subtitle_with_under_paint {

			.draw_under_subtitle {
				width: 220px;
				height: 32.5px;
				transform: rotate(-1.75deg) translate(-10px, 0px);
			}
		}
	}
}

@media (min-width: 410px) {
	.title {
		font-size: $f-s + 30;
	}

	.subtitle {
		font-size: $f-s + 6;
		font-family: $f-f;
		font-weight: bold;
	}

	.main_body {

		.main_content {	

			.fractal_list {

				li {

					p {
						a {
							font-size: $f-s + 4;
						}
					}
				}
			}
		}
	}

	.subtitle_with_under_paint {

		.subtitle {
			font-size: $f-s + 5;
		}

		.draw_under_subtitle {
			width: 240px;
			height: 35px;
			transform: rotate(-1.75deg) translate(-10px, -.5px);
		}
	}

	.second_type {
		
		.subtitle_with_under_paint {

			.draw_under_subtitle {
				width: 252px;
				height: 35px;
				transform: rotate(-1.75deg) translate(-10px, 0px);
			}
		}
	}

	.therd_type {

		.subtitle_with_under_paint {

			.draw_under_subtitle {
				width: 230px;
				height: 35px;
				transform: rotate(-1.75deg) translate(-10px, 0px);
			}
		}
	}
}

@media (min-width: 1024px) {
	.title {
		font-size: $f-s + 34;
	}

	.subtitle {
		font-size: $f-s + 4;
	}

	.main_body {

		.main_content {	

			.fractal_list {

				li {
					gap: 2.5vw;

					p {
						a {
							font-size: $f-s + 6;
						}
					}
				}
			}
		}
	}

	.body_ft {
		display: grid;
		grid-template-columns: var(--left, 55px) auto;
		grid-template-rows: none;
		transition: .7s ease-in-out;

		.head {
			position: relative;
			@include flex-center;
			flex-direction: column;
			justify-content: start;
			max-width: 100%;
			height: 100%;
			background: rgb(218, 218, 218);

			.main_icon {
				position: fixed;
				top: .5vw;

				img {
					margin-left: 0vw;
					right: 1vw;
					width: 30px;
					height: 30px;
					object-fit: cover;
					animation: postRotateLittelIcon .8s cubic-bezier(.45, .13, .49, 1) 1 forwards;
				}
			}

			.head_list {
				position: fixed;
				top: 5vw;
				list-style-type: none;
				@include flex-center;
				flex-direction: column;
				gap: 1.25vw;
				font-size: $f-s;
				font-family: $f-f;

				@each $i in $i {
					.l-#{$i} {
						@include flex-center;
						transition: .4s * $i cubic-bezier(.45, .13, .49, 1);
						opacity: 0;
						transform: translate(-150px, 0);
						width: 235px;
					}
				}
			}
		}
	}

	.body_ft:has(.head.active) {
		--left: 250px;

		.main_icon {
			img {
				animation: rotateLittleIcon .8s cubic-bezier(.45, .13, .49, 1) 1 forwards;
			}
		}

		.head_list {

			@each $i in $i {
				.l-#{$i} {
					transition: .4s * $i cubic-bezier(.45, .13, .49, 1);
					opacity: 1;
					transform: translate(0, 0);
				}

				.l-#{$i}:hover {
					transition: .6s ease-in-out;
					background: rgb(255, 240, 240);
					border-bottom-right-radius: 60px 40px;
					border-bottom-left-radius: 50px 20px;
					border-top-right-radius: 50px 20px;
					border-top-left-radius: 60px 40px;
				}
			}
		}
	}

	.main_info_container {
		margin-top: .5vw;

		p {
			font-size: $f-s;
		}
	}

	.educational_program_of_fractal {

		p {
			font-size: $f-s;
		}
	}

	.geometry {
		flex-direction: row;

		img {
			max-width: 350px;
			max-height: 350px;
		}

		.text_gfractal {

			p {
				font-size: $f-s;
			}
		}
	}

	.second_type {

		.algebra {

			.list_and_exemple {
				flex-direction: row;

				.list_alg {
					flex: 55%;
				}

				.plenty {
					flex: 45%;
					justify-content: space-between;
				}

				.mandelbrod, .julia {
					flex-direction: column-reverse;

					h2 {
						font-size: $f-s;
					}
						
					img {
						max-width: 45vw;
						height: 150px;
						object-fit: fill;
						border-radius: 10px;
					}
				}
			}
		}
	}

	.therd_type {

		.stoh {

			.plazma_exemple {
				gap: .5vw;

				img {
					margin-top: 0;
				}
			}
		}
	}
}

@media (min-width: 1280px) {
	.geometry {

		img {
			max-width: 250px;
			max-height: 250px;
		}
	}	
}

@media (min-width: 1440px) {
	.main_info_container {
		margin-top: .5vw;
	}

	.geometry {
		justify-content: space-between;

		img {
			max-width: 250px;
			max-height: 250px;
		}
	}	
}

@media (min-width: 1880px) {
	.title {
		font-size: $f-s + 40;
		font-family: $f-f;
		font-weight: bold;
	}

	.subtitle {
		font-size: $f-s + 6;
		font-family: $f-f;
		font-weight: bold;
	}

	.main_body {
		@include flex-center;

		.main_content {
			@include flex-center;
			flex-direction: column;
			height: 100%;

			.fractal_list {
				@include flex-center;
				flex-direction: column;
				// align-items: flex-start;
				justify-content: space-evenly;
				height: 50%;

				li {
					@include flex-center;
					gap: .5vw;
					font-size: $f-s;

					p {
						transition: .5s ease-out;
					}

					p:hover {
						font-size: $f-s + 8;
					}
				}
			}
		}
	}

	.body_ft {
		display: grid;
		grid-template-columns: var(--left, 75px) auto;
		grid-template-rows: none;
		transition: .7s ease-in-out;

		.head {
			position: relative;
			@include flex-center;
			flex-direction: column;
			justify-content: start;
			max-width: 100%;
			height: 100%;
			background: rgb(218, 218, 218);

			.main_icon {
				position: fixed;
				top: .5vw;

				img {
					right: 1vw;
					width: 50px;
					height: 50px;
					object-fit: cover;
					animation: postRotateIcon .8s cubic-bezier(.45, .13, .49, 1) 1 forwards;
				}
			}

			.head_list {
				position: fixed;
				top: 5vw;
				list-style-type: none;
				@include flex-center;
				flex-direction: column;
				gap: 1.25vw;
				font-size: $f-s;
				font-family: $f-f;

				@each $i in $i {
					.l-#{$i} {
						@include flex-center;
						transition: .4s * $i cubic-bezier(.45, .13, .49, 1);
						opacity: 0;
						transform: translate(-150px, 0);
						width: 235px;
					}
				}
			}
		}
	}

	.body_ft:has(.head.active) {
		--left: 250px;

		.main_icon {
			img {
				animation: rotateIcon .8s cubic-bezier(.45, .13, .49, 1) 1 forwards;
			}
		}

		.head_list {

			@each $i in $i {
				.l-#{$i} {
					transition: .4s * $i cubic-bezier(.45, .13, .49, 1);
					opacity: 1;
					transform: translate(0, 0);
				}

				.l-#{$i}:hover {
					transition: .6s ease-in-out;
					background: rgb(255, 240, 240);
					border-bottom-right-radius: 60px 40px;
					border-bottom-left-radius: 50px 20px;
					border-top-right-radius: 50px 20px;
					border-top-left-radius: 60px 40px;
				}
			}
		}
	}

	.main_info_container {
		margin-top: 0;
		width: 95%;
		margin-left: 2.5vw;
		padding-bottom: 1vw;

		p {
			text-indent: 10px;
			position: relative;
			z-index: 2;
			font-size: $f-s + 4;
		}
	}

	.educational_program_of_fractal {
		margin-top: .5vw;

		.title {
			position: relative;
			z-index: 2;
			font-size: $f-s + 16;
			border-radius: 10px;
		}

		.draw_under_title {
			position: absolute;
			z-index: 1;
			width: 235px;
			height: 55px;
			background: rgb(199, 199, 199);
			border-bottom-left-radius: 60px 40px;
			border-bottom-right-radius: 50px 20px;
			border-top-left-radius: 50px 20px;
			border-top-right-radius: 60px 40px;
			transform: rotate(-1.75deg) translate(-15px, -50px);
		}

		p {
			margin-top: .15vw;
		}
	}

	.list_fractals {
		margin-top: .2vw;

		p {
			text-indent: 0px;
		}

		.types_of_fractals {
			padding-left: 45px;

			li {
				margin-top: .4vw;
			}

			::marker {
				font-size: $f-s + 2;
			}

			p {
				text-indent: 10px;
			}
		}
	}

	.first_type {
		margin-top: .8vw;
	}

	.subtitle_with_under_paint {
		display: flex;

		.subtitle {
			position: relative;
			z-index: 2;
		}

		.draw_under_subtitle {
			position: absolute;
			z-index: 1;
			width: 240px;
			height: 45px;
			background: rgb(199, 199, 199);
			border-bottom-left-radius: 60px 40px;
			border-bottom-right-radius: 50px 20px;
			border-top-left-radius: 50px 20px;
			border-top-right-radius: 60px 40px;
			transform: rotate(-1.75deg) translate(-10px, -5px);
		}
	}

	.geometry {
		margin-top: .5vw;
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		img {
			// flex: 20%;
			max-width: 400px;
			max-height: 310px;
			object-fit: fill;
			border-radius: 10px;
		}

		.text_gfractal {
			// flex: 80%;
			max-width: 1350px;
			max-height: 310px;

			p {
				font-size: $f-s + 4;
				margin-top: .15vw;
			}
		}
	}

	.second_type {
		margin-top: .75vw;

		.subtitle_with_under_paint {
			flex-direction: row-reverse;
			margin-right: 1.5vw;

			.draw_under_subtitle {
				width: 250px;
				height: 45px;
				transform: rotate(-1.75deg) translate(-140px, -10px);
			}
		}

		.algebra {
			margin-top: .7vw;

			.list_and_exemple {
				display: flex;
				flex-direction: row;
				justify-content: space-between;

				.list_alg {
					flex: 55%;
					height: 240px;
					margin-top: .3vw;
					padding-left: 45px;
					list-style-type: decimal;

					::marker {
						font-size: $f-s;
						font-family: $f-f;
					}

					li {
						margin-top: .3vw;
					}
				}

				.plenty {
					flex: 45%;
					display: flex;
					justify-content: space-between;
					margin-top: 0;
				}

				.mandelbrod, .julia {
					@include flex-center;
					flex-direction: column-reverse;
						
					img {
						margin: 5px;
						margin-top: 0;
						margin-bottom: 0;
						max-width: 50vw;
						height: 200px;
						object-fit: fill;
						border-radius: 10px;
					}

					h2 {
						font-size: $f-s + 4;
					}
				}
			}
		}
	}

	.therd_type {
		margin-top: 0;

		.subtitle_with_under_paint {

			.draw_under_subtitle {
				width: 232.5px;
				height: 45px;
				transform: rotate(-1.75deg) translate(-12px, -5px);
			}
		}

		.stoh {
			margin-top: .5vw;

			p {
				margin-top: .5vw;
			}

			.plazma_exemple {
				margin-top: .4vw;
				display: flex;
				flex-direction: row;
				gap: 1vw;

				img {
					margin: 0;
					margin-top: .5vw;
					max-height: 350px;
					object-fit: fill;
					border-radius: 10px;
				}

				p {
					margin: 0;
					max-width: 1400px;
					max-height: 210px;
				}
			}
		}
	}
	//page2
	main {
		display: flex;
		width: 100%;
		height: 100%;
		
		.canvas {
			position: relative;;
			margin-left: 5vw;
			padding-top: 2vw;
			font-size: $f-s + 14;
			font-family: $f-f;
		}
	}

	input {
		font-size: $f-s - 4;
		font-family: $f-f;
	}


	#canvas {
		margin-left: 5vw;
		margin-top: 2vw;
	}

	.body {
		@include flex-center;

		#canvas_Koch {
			@include flex-center;
			margin: 0;
		}
	}

	.tb_color, tr, td {
		border: 1.5px solid black;
		border-collapse: collapse;
		padding: 2.5px;
	}

	.variables {
		display: flex;
		width: 1050px;
		margin-top: 2vw;
		margin-left: 2.5vw;
		gap: 1vw;

		.a {
			display: flex;
			flex-direction: column;
			width: 750px;
			gap: 1vw;

			.var {
				@include flex-center;
				align-items: start;
				width: 100%;
				height: 100px;
				gap: .5vw;

				
				.input {
					@include flex-center;
					flex-direction: column;
					justify-content: space-between;
					align-items: start;
					width: 100%;
					height: 100%;
					font-size: $f-s - 2;
					font-family: $f-f;

					em {
						font-size: $f-s - 4;
						font-family: $f-f;
					}
				}

			}

			.not_input {
				@include flex-center;
				flex-direction: column;
				align-items: start;
				gap: .5vw;

				.color {
					@include flex-center;
					flex-direction: column;
					align-items: start;
					font-size: $f-s - 2;
					font-family: $f-f;
					gap: .5vw;
				}
			}

		}

		.select {
			@include flex-center;
			flex-direction: column;
			justify-content: space-between;
			width: 285px;

			select {
				font-size: $f-s - 2;
				font-family: $f-f;
			}

			.button {
				@include flex-center;
				flex-direction: column;
				align-items: start;
				width: 285px;
				gap: .5vw;

				button {
					width: 100%;
					padding: 7.5px;
					font-size: $f-s - 2;
					font-family: $f-f;
				}
			}
		}
	}
}

@keyframes rotateIcon {
	0% {
		width: 50px;
		height: 50px;
	}

	50% {
		transform: rotate(180deg);
		width: 25px;
		height: 25px;
	}

	100% {
		transform: rotate(360deg);
		width: 50px;
		height: 50px;
	}
}

@keyframes postRotateIcon {
	0% {
		transform: rotate(360deg);
		width: 50px;
		height: 50px;
	}

	50% {
		transform: rotate(180deg);
		width: 25px;
		height: 25px;
	}

	100% {
		width: 50px;
		height: 50px;
	}
}

@keyframes rotateLittleIcon {
	0% {
		width: 30px;
		height: 30px;
	}

	50% {
		transform: rotate(180deg);
		width: 15px;
		height: 15px;
	}

	100% {
		transform: rotate(360deg);
		width: 30px;
		height: 30px;
	}
}

@keyframes postRotateLittelIcon {
	0% {
		transform: rotate(360deg);
		width: 30px;
		height: 30px;
	}

	50% {
		transform: rotate(180deg);
		width: 15px;
		height: 15px;
	}

	100% {
		width: 30px;
		height: 30px;
	}
}

// @keyframes appearance{
// 	0% {
// 		opacity: 0;
// 		transform: translate(-150px, )
// 	}
// }